<section class="hero is-dark">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        投稿を編集
      </h1>
    </div>
  </div>
</section>

<section class="section main-image">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @content do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

          <div class="field">
            <%= f.label :title, "エラー画面投稿名", class: "label has-text-grey-lighter" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :note, "解決手段", class: "label has-text-grey-lighter" %>
            <%= f.text_area :note, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "エラー画面画像", class: "label has-text-grey-lighter" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>