<section class="hero is-dark">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        コンテンツ一覧
      </h1>
    </div>
  </div>
</section>

  <section class="section main-image">
    <div class="container">
      <div class="columns is-multiline">
        <% @contents.each do |content| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <%= link_to content_path(content) do %>
                    <%= image_tag content.image %>
                  <% end %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <%= image_tag content.user.image %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="title"><%=link_to content.user.nickname, user_path(content.user) %></div>
                  </div>
                </div>
                <div class="content">
                  <time><%= content.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>