<section class="hero is-dark">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        ユーザー一覧
      </h1>
    </div>
  </div>
</section>

  <section class="section main-image">
    <div class="container">
      <div class="columns">
        <% @users.each do |user| %>
          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <%= link_to user_path(user) do %>
                    <%= image_tag('no-image.png', class: 'image_type') unless user.image.attached? %>
                    <%= image_tag(user.image, class: 'image_type') if user.image.attached? %>
                  <% end %>
                </div>
              </div>
              <div class="card-content">
                <div>
                  <%=link_to user.nickname, user_path(user) %>
                </div>
                <div>
                  投稿数：<%= user.contents.count %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>