<section class="hero is-dark">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        ユーザーログイン画面
      </h1>
    </div>
  </div>
</section>

<section class="section main-image">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

      <% if flash[:alert] %>
      <div class="notification  is-danger">
        <p class="alert"><%= alert %></p>
      </div>
      <% end %>

     <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
          <div class="field">
            <%= f.label :email, class: "label has-text-grey-lighter" %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :password, class: "label has-text-grey-lighter" %>
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "current-password", :placeholder => "password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: "button is-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>