<!DOCTYPE html>
<html>
  <head>
    <title>Error Collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

 <body>
   <div class="hero-head is-white">
        <%= link_to "ErrorCollection", root_path, class: "title" %>
      <% if user_signed_in? %>　　
         <div class="navbar-brand">
           <div class="navbar-item">
             <%= link_to "エラー画面一覧", contents_path, class: "button is-info is-light" %>
           </div>
           <div class="navbar-item">
             <%= link_to "エラー画面投稿", new_content_path, class: "button is-info is-light" %>
           </div>
           <div class="navbar-item">
             <%= link_to "ユーザー一覧", users_path, class: "button is-info is-light" %>
           </div>
           <div class="navbar-item">
             <%= link_to "マイページ", user_path(current_user.id), class: "button is-info is-light" %>
           </div>
           <div class="navbar-item">
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-info is-light" %>
           </div>
           <div class="navbar-end">
              <%= form_with url: contents_path, method: :get, class: "navbar-item", local: true do |f| %>
              <%= f.text_field :search, class: "input", placeholder: "投稿を検索する" %>
              <%= f.submit "検索", class: "button is-info" %>
              <% end %>
           </div>
        </div>
      <% else %>
        <div class="navbar-brand">
           <div class="navbar-item">
             <%= link_to "エラー画面一覧", contents_path, class: "button is-info is-light" %>
           </div>
            <div class="navbar-item">
             <%= link_to "ユーザー一覧", users_path, class: "button is-info is-light" %>
            </div>
            <div class="navbar-item">
             <%= link_to "ログイン", new_user_session_path, class: "button is-info is-light" %>
            </div>
            <div class="navbar-item">
              <%= link_to "新規登録", new_user_registration_path, class: "button is-info is-light" %>
            </div>
            <div class="navbar-end">
              <%= form_with url: contents_path, method: :get, class: "navbar-item", local: true do |f| %>
              <%= f.text_field :search, class: "input", placeholder: "投稿を検索する" %>
              <%= f.submit "検索", class: "button is-info" %>
              <% end %>
            </div>
        </div>
      <% end %>
   </div>
     <%= yield %>
 </body>
</html>
